<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="AUT" value="http://elioruatr2.focusprism.in/Account/Login"/>
      
      <add key="TestDataSheetpath" value="C:\ClarityApp\ClarityWbApp.Tests1\ClarityWbApp.Tests1\TestDataAcces\TestData.xlsx"/>
    </appSettings>
    

  
  
</configuration>